table, td, tr {
    text-align: center;
}
table {
    width: 80vw;
    border: 1px solid black;
    border-collapse: collapse
}
td, tr {
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse
}